*{
    margin:0;
    padding: 0;
    font-family: gilroy;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

#left{
    position: relative;
    width: 40%;
    height: 100%;
    background-color: rgb(128, 87, 0);
}
#lnav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
}
#lnavr{
    display: flex;
    align-items: center;
}
#lnavr a{
     margin-right:20px;
     text-decoration: none;
     color: black;
     font-weight: 500;
     font-size: 14px;
}
#lnavr i{
    color: royalblue;;
}
#left #textcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#textcenter h1{
    font-size: 90px;
    font-weight: 900;
    color: grey;
}
#textcenter p{
    opacity: .6;
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#textcenter a{
    text-decoration: none;
    color: grey;
    border-bottom:1px solid black ;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 600;
    opacity: .6;
}
#right{
    width: 60%;
    height:100%;
    background-color: white;
}
#rtop{
    display: flex;
    width: 100%;
    height: 50%;
    background-color: royalblue;
}
#rbottom{
    width: 100%;
    height: 50%;
    background-image: url(https://media.istockphoto.com/id/454369237/photo/orange-on-plant.jpg?s=612x612&w=0&k=20&c=pRgbc-UkHD-CLt5l7sBbqwOThX7DHFU6dF6lOfYMlGU=);
    background-size: cover;
    background-position: center;
}
#rtopleft{
    width: 55%;
    height: 100%;
    background-image: url(https://media.istockphoto.com/id/1330850354/photo/the-tabletop-photography-the-product-photography-creative-tabletop-background-image.jpg?s=612x612&w=0&k=20&c=Zr3IchXWqX85HQKGoEpJsN9ZSIoeBa72jk-pmNWagRY=);
    background-size: cover;
    background-position:center;
}
#rtopright{
    width: 45%;
    height: 100%;
    background-image: url(https://media.istockphoto.com/id/1353169713/photo/fresh-juicy-vitamin-oranges-on-wooden-board-food-background-vertical-top-view.jpg?s=612x612&w=0&k=20&c=SoBACKJy8rA2wwDwyMxo3_zvPkre0LIg_COx0NvcZqo=);
    background-size: cover;
    background-position: center;
}

@media(max-width: 500px){
    #main{
        flex-direction: column;
    }
}

#main #left{
    width: 100%;
}

#main #right{
     width: 100%;
}